<%= form_with model: point do |f| %>
 <h4>タイトル</h4>
  <%= f.text_field :title, class: "form-control mb-2" %>

  <h4>コメント</h4>
  <%= f.text_area :body, class: "form-control mb-2" %>

  <%= f.submit '投稿する',class: "btn btn-success btn-block my-4" %>
  
  
  
<% end %>