<h2>User info</h2>

<%= image_tag user.get_profile_image %>
<table class="table">
 <tr>
 <th>
name 
</th>
<th>
 <%= user.name %>
</th>
</tr>
<tr>
<td>
 introduction
</td>
<td>
 <%= user.introduction %>
</td>
</tr>
</table>



 <%= link_to edit_user_path(user.id), class:  "btn-light btn-block" do %>
 <i class="fas fa-user-cog"></i>
 <% end %>


