<div class = "row">
  <div class = "col-md-3">
    <%= render 'users/user_info', user: @user %>
    <h2>新規投稿</h2>
    <%= render 'points/form', point: @newpoint %>
  </div>
  <div class = "col-md-8 offset-md-1">
    <h1>投稿一覧</h1>
    <%= render 'points/points', points: @points %>
  </div>
</div>

