<h1>全ユーザー一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th width="100px"></th>
      <th>名前</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to "詳細", admin_user_path(user), class: "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
